In [1]:
import numpy as np
import pandas as pd
import sklearn as sl
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
avo=pd.read_csv("avocado.csv")

In [3]:
avoDF=avo

In [4]:
avoDF

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,29-11-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,04-02-2018,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,28-01-2018,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,21-01-2018,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,14-01-2018,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,07-01-2018,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [5]:
avoDF=avoDF.drop("Unnamed: 0",axis=1)

In [6]:
avoDF.isna().sum()

Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [7]:
avoDF['type'].value_counts()

conventional    9126
organic         9123
Name: type, dtype: int64

In [8]:
avoDF.replace({"type":{'conventional':1,'organic':0}},inplace=True)

In [9]:
avoDF['region'].value_counts()

Albany                 338
Sacramento             338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
SanDiego               338
Atlanta                338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
NewYork                338
NewOrleansMobile       338
Nashville              338
Midsouth               338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
WestTexNewMexico       335
Name: region, dtype: int64

In [10]:
cities = pd.get_dummies( avoDF['region'])

In [11]:
from sklearn import preprocessing

In [12]:
le = preprocessing.LabelEncoder()

In [13]:
avoDF['year']= le.fit_transform(avoDF['year'])

In [14]:
avoDF['type'].unique()

array([1, 0], dtype=int64)

In [15]:
avoDF['year'].value_counts()

2    5722
1    5616
0    5615
3    1296
Name: year, dtype: int64

In [16]:
avoDF = pd.concat([avoDF, cities], axis=1)

In [17]:
avoDF

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,...,SouthCarolina,SouthCentral,Southeast,Spokane,StLouis,Syracuse,Tampa,TotalUS,West,WestTexNewMexico
0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,...,0,0,0,0,0,0,0,0,0,0
1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,...,0,0,0,0,0,0,0,0,0,0
2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,...,0,0,0,0,0,0,0,0,0,0
3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,...,0,0,0,0,0,0,0,0,0,0
4,29-11-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,04-02-2018,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,...,0,0,0,0,0,0,0,0,0,1
18245,28-01-2018,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,...,0,0,0,0,0,0,0,0,0,1
18246,21-01-2018,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,...,0,0,0,0,0,0,0,0,0,1
18247,14-01-2018,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,...,0,0,0,0,0,0,0,0,0,1
18248,07-01-2018,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
avoDF.columns

Index(['Date', 'AveragePrice', 'Total Volume', '4046', '4225', '4770',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region', 'Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver', 'Detroit',
       'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale', 'Midsouth',
       'Nashville', 'NewOrleansMobile', 'NewYork', 'Northeast',
       'NorthernNewEngland', 'Orlando', 'Philadelphia', 'PhoenixTucson',
       'Pittsburgh', 'Plains', 'Portland', 'RaleighGreensboro',
       'RichmondNorfolk', 'Roanoke', 'Sacramento', 'SanDiego', 'SanFrancisco',
       'Seattle', 'SouthCarolina', 'SouthCentral', 'Southeast', 'Spokane',
       'StLouis', 'Syracuse', 'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'],
      dtype='object')

In [19]:
avoDF=avoDF.drop('region',axis=1)

In [20]:
avoDF.corr().head(12)

C:\Users\vaibh\AppData\Local\Temp\ipykernel_3484\3215825853.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  avoDF.corr().head(12)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,...,SouthCarolina,SouthCentral,Southeast,Spokane,StLouis,Syracuse,Tampa,TotalUS,West,WestTexNewMexico
AveragePrice,1.000000,-0.192752,-0.208317,-0.172928,-0.179446,-0.177088,-0.174730,-0.172940,-0.117592,-0.615845,...,-0.000919,-0.103963,-0.002716,0.013514,0.008407,0.039010,0.000978,-0.029665,-0.045633,-0.048998
Total Volume,-0.192752,1.000000,0.977863,0.974181,0.872202,0.963047,0.967238,0.880640,0.747157,0.232434,...,-0.026687,0.085177,0.038568,-0.032005,-0.030063,-0.032549,-0.026069,0.656367,0.094063,-0.016601
4046,-0.208317,0.977863,1.000000,0.926110,0.833389,0.920057,0.925280,0.838645,0.699377,0.225819,...,-0.022692,0.140087,0.077320,-0.030502,-0.027479,-0.031714,-0.020335,0.628425,0.096246,-0.004544
4225,-0.172928,0.974181,0.926110,1.000000,0.887855,0.905787,0.916031,0.810015,0.688809,0.232289,...,-0.029410,0.040737,-0.003005,-0.032011,-0.032391,-0.031517,-0.030055,0.646471,0.067844,-0.026002
4770,-0.179446,0.872202,0.833389,0.887855,1.000000,0.792314,0.802733,0.698471,0.679861,0.210027,...,-0.023303,0.055506,-0.017233,-0.028137,-0.029097,-0.029091,-0.029050,0.561470,0.047791,-0.017785
Total Bags,-0.177088,0.963047,0.920057,0.905787,0.792314,1.000000,0.994335,0.943009,0.804233,0.217788,...,-0.025899,0.062803,0.041429,-0.030802,-0.027307,-0.031652,-0.025345,0.641899,0.117894,-0.018619
Small Bags,-0.174730,0.967238,0.925280,0.916031,0.802733,0.994335,1.000000,0.902589,0.806845,0.220535,...,-0.026237,0.067124,0.024686,-0.030619,-0.027044,-0.031557,-0.027765,0.643815,0.087765,-0.022487
Large Bags,-0.172940,0.880640,0.838645,0.810015,0.698471,0.943009,0.902589,1.000000,0.710858,0.193177,...,-0.023079,0.045931,0.089531,-0.029133,-0.026300,-0.029756,-0.016181,0.591779,0.208521,-0.005274
XLarge Bags,-0.117592,0.747157,0.699377,0.688809,0.679861,0.804233,0.806845,0.710858,1.000000,0.175483,...,-0.018915,0.036528,0.033695,-0.023955,-0.018956,-0.023160,-0.018717,0.468745,-0.004993,-0.016777
type,-0.615845,0.232434,0.225819,0.232289,0.210027,0.217788,0.220535,0.193177,0.175483,1.000000,...,-0.000023,-0.000023,-0.000023,-0.000023,-0.000023,-0.000023,-0.000023,-0.000023,-0.000023,0.001202
year,0.093197,0.017193,0.003353,-0.009559,-0.036531,0.071552,0.063915,0.087891,0.081033,0.000032,...,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,-0.000237
Albany,0.052899,-0.031946,-0.031622,-0.029381,-0.028989,-0.032275,-0.032319,-0.029948,-0.023122,-0.000023,...,-0.018871,-0.018871,-0.018871,-0.018871,-0.018871,-0.018871,-0.018871,-0.018871,-0.018871,-0.018786

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x=avoDF.drop(columns=['Date','AveragePrice','year'],axis=1)
y=avoDF['AveragePrice']

In [23]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.3,random_state=2)

In [24]:
x_train

,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,Albany,...,SouthCarolina,SouthCentral,Southeast,Spokane,StLouis,Syracuse,Tampa,TotalUS,West,WestTexNewMexico
16778,17819.23,490.84,4973.46,117.18,12237.75,11553.50,684.25,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
1838,1731574.98,930286.05,498120.52,16041.72,287126.69,275002.90,10772.67,1351.12,1,0,...,0,0,0,0,0,0,0,0,0,0
17795,20504.66,393.48,267.87,22.22,19821.09,19811.09,10.00,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
18101,17579.47,1145.64,8284.41,0.00,8149.42,8149.42,0.00,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
754,155972.38,3089.50,55014.27,9941.32,87927.29,80548.80,5044.35,2334.14,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14696,8433.01,1281.15,5281.54,8.56,1861.76,1804.65,57.11,0.00,0,0,...,0,0,0,0,0,0,0,0,0,1
1099,237248.22,119810.22,74648.59,5456.06,37333.35,36573.68,759.67,0.00,1,0,...,0,0,0,0,0,0,0,0,0,0
11798,625259.00,170184.00,269330.00,6905.00,178838.00,126058.00,52779.00,0.00,0,0,...,0,0,0,0,0,0,0,1,0,0
6637,135854.22,7948.80,63487.06,867.35,63551.01,31441.95,32031.35,77.71,1,0,...,0,0,0,0,0,0,0,0,0,0
2575,60370.27,624.44,32511.25,3173.19,24061.39,24061.39,0.00,0.00,1,0,...,0,0,0,0,0,1,0,0,0,0

In [25]:
from sklearn.neighbors import KNeighborsRegressor

In [26]:
knn = KNeighborsRegressor(n_neighbors=4)

In [27]:
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=4)

In [28]:
predictions=knn.predict(x_test)

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
mean_squared_error(y_test,predictions)

0.05817924429223744

In [31]:
knn.score(x_train,y_train)

0.7960772560442022